<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="UTF-8">
  <title><%= top_title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="author" content="<%= author %>">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link href="resources/css/css.css" rel="stylesheet" type="text/css">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="resources/css/normalize.css">
  <link rel="stylesheet" href="resources/css/skeleton.css">
  <link rel="stylesheet" href="resources/css/custom.css">
  <link rel="stylesheet" href="resources/css/academicons.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="http://getskeleton.com/dist/images/favicon.png">

<body class="code-snippets-visible">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="header">
      <h1 class="title" id="site_title"></h1>
      <h3 class="subtitle" id="site_description"></h3>
      {% if not( smart_title is none) %}<h2 class="title"> <%= smart_title %> </h2>{% endif %}
      {% if not( project_url is none) %}
      <a class="button button-primary" href="<%= project_url %>" style="background-color:<%= concept_color %>;" > <%= project_url_title %> </a>
      {% endif %}
      {% if not (three_concepts is none) %}
      <div class="value-props row">
		{% for i in range(three_concepts|length) %}
        <div class="<%= concept_width %> columns value-prop">
		  <h1 style="color:<%= concept_color %>;"><%= three_concepts[i] %></h1>
          {% if not (three_desc is none) %}<%= three_desc[i] %>{% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </section>

	{% if menus|length>0 %}
    <div class="navbar-spacer"></div><div class="hero-head">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="background-color: rgba(20, 20, 20, 0.6);">
      <div class="container">
        <div class="navbar-brand">
          <!--<span class="navbar-burger burger" data-target="navbarMenu">-->
          <a role="button" id="navbar-burger-lines" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span style="color:#ffffff;"></span>
            <span style="color:#ffffff;"></span>
            <span style="color:#ffffff;"></span>
            <!--<span class="typcn typcn-th-menu" style="color:#ffffff;"></span>-->
          </a>
          <!--</span>-->
        </div>
        <div id="navbarMenu" class="navbar-menu"><!-- style="position:fixed;top:0">-->
          <div class="navbar-start">
            <a class="navbar-item" href="#" style="color:#cccccc;"><i class="fas fa-home"></i>&nbsp;Home</a> <!-- background-color:transparent; -->
            <a class="navbar-item" href="#/pages/curriculum_vitae" style="color:#cccccc;"><i class="fas fa-address-card"></i>&nbsp;About</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-white" style="color:#cccccc;" href="#/publications"><i class="fas fa-pen-nib"></i>&nbsp;Publications</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="#/publications" style="color:#000000;">Publications (All)</a>
                <a class="navbar-item" href="#/publications?tag=2022" style="color:#000000;">2022 (1)</a>
                <a class="navbar-item" href="#/publications?tag=2021" style="color:#000000;">2021 (3)</a>
                <a class="navbar-item" href="#/publications?tag=2020" style="color:#000000;">2020 (4)</a>
                <a class="navbar-item" href="#/publications?tag=2019" style="color:#000000;">2019 (2)</a>
                <a class="navbar-item" href="#/publications?tag=2018" style="color:#000000;">2018 (1)</a>
                <a class="navbar-item" href="#/publications?tag=2017" style="color:#000000;">2017 (2)</a>
                <a class="navbar-item" href="#/publications?tag=2016" style="color:#000000;">2016 (3)</a>
                <a class="navbar-item" href="#/publications?tag=2015" style="color:#000000;">2015 (2)</a>
                <a class="navbar-item" href="#/publications?tag=2014" style="color:#000000;">2014 (1)</a>
                <a class="navbar-item" href="#/publications?tag=preprint" style="color:#000000;">Preprint (2)</a>
                <a class="navbar-item" href="#/pages/all_list" style="color:#000000;">List of Publications</a>
                <a class="navbar-item" href="#/pages/inpreparation" style="color:#000000;">Researches</a>
                <a class="navbar-item" href="#/pages/conferences" style="color:#000000;">Conferences</a>
              </div>
            </div>
            <a class="navbar-item" href="#/pages/open_projects" style="color:#cccccc;"><i class="fab fa-github-alt"></i>&nbsp;Projects</a>
            <a class="navbar-item" href="#/mediums" style="color:#cccccc;"><i class="fab fa-medium-m"></i>&nbsp;Medium</a>
            <!--<a class="navbar-item" href="#/pages/curriculum_vitae" style="color:#cccccc;"><i class="ai ai-cv"></i>&nbsp;Curriculum Vitae</a>-->
            <a class="navbar-item" href="#/posts" style="color:#cccccc;"><i class="fas fa-comment-alt"></i>&nbsp;Posts</a>
          </div>
          <div class="navbar-end">
            <div class="dropdown" id="searchDropdown">
              <div class="dropdown-trigger">
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Search..." id="searchTerm" onkeyup="searching(event)">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-binoculars"></i>
                  </span>
                  </p>
                </div> <!-- field -->
              </div> <!-- dropdown-trigger -->
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="searchResults">
                  <div class="dropdown-item">Hello myfriend.</div>
                  <!--<a href="#" class="dropdown-item">Dropdown item</a>-->
                </div>
              </div> <!-- dropdown-menu -->
            </div> <!-- dropdown -->
          </div> <!-- navbar-end -->
        </div> <!-- navbarMenu -->
      </div> <!-- container -->
    </nav>
    </div>

    <!-- main text area -->
    <div class="docs-section" id="intro">
    <div id="cms"></div>
    </div>
  </div>


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<script src="resources/js/jquery.js"></script>-->
  <script type="text/javascript" src="resources/js/cms.js"></script>
  <script type="text/javascript" src="resources/js/remarkable.min.js"></script>
  <script type="text/javascript" src="resources/js/custom.js"></script>
  <script type="text/javascript" src="resources/js/config.js"></script>
  <!--<script type="text/javascript" src="resources/js/getallpage.js"></script>
  <script type="text/javascript" src="resources/js/search.js"></script>
  <script type="text/javascript" src="resources/js/bibtexParse.js"></script>
  <script type="text/javascript" src="resources/js/generating_bib.js"></script>-->
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body></html>
